[submodule "ansible"]
	path = ansible
	url = git@github.com:piratecaveman/talos-ansible.git
[submodule "jenkins"]
	path = jenkins
	url = git@github.com:piratecaveman/talos-jenkins.git
[submodule "terraform"]
	path = terraform
	url = git@github.com:piratecaveman/talos-terraform.git
